<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate name:<input type="text" name="pirate[name]">
  Pirate weight:<input type="text" name="piate[weight]">
  Pirate height:<input type="text" name="piate[height]">
  Ship name:<input type="text" name="piate[ships][][name]">
  Ship type:<input type="text" name="piate[ships][][type]">
  Ship booty:<input type="text" name="piate[ships][][booty]">
  <input type="submit">
</form>